/* Coolors Exported Palette - coolors.co/e5f9e0-a3f7b5-40c9a2-2f9c95-1e645f */

/* HSL */
$color1: hsla(108%, 68%, 93%, 1);
$color2: hsla(133%, 84%, 80%, 1);
$color3: hsla(163%, 56%, 52%, 1);
$color4: hsla(176%, 54%, 40%, 1);
$color5: hsla(176%, 54%, 25%, 1);

/* RGB */
$color1: rgba(229, 249, 224, 1);
$color2: #A3F7B5;
$color3: #40C9A2;
$color4: rgba(47, 156, 149, 1);
$color5: #1E645F;
